html{
  scroll-behavior: smooth;
}
body{
  
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family:'Courier New', Courier, monospace;
  background-image: url(image/56519788.jpg);
  background-size: 100% 100%;
  
}
section{
  padding-top: 50px;
  padding-bottom: 50px;
}
nav{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: capitalize;
  position: sticky;
  z-index: 10;
  top: 0;
  padding-left: 15px;
  padding-right: 15px;
  background-image:linear-gradient(rgba(249, 250, 246, 0.3),rgba(41, 43, 40, 0.6)), url(image/56519788.jpg);
  border-radius: 8px;
}
nav ul{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li{
  list-style-type: none;
  margin-left: 20px;
}
nav h1{
  font-size: 2.2em;
  color: white;
  font-weight: bolder;
}
nav a{
  color: #a17f1a;
  font-size: 1.25em;
  text-decoration: none;
 font-weight: bold;
}
nav p{
  color:  white;
  font-size: 1.25em;
  text-decoration: none;
 font-weight: bold;
}
#about-me{
  color: #afd275;
}
#my-projects{
  color: white;
}
#myname{
  color: white;
 font-weight: bold;
}
#logos {
  display: flex;
  justify-content: space-around;
}
#logos img{
  border: 8px solid lightgray;
  border-radius: 8px;
  background: lightgray;
}
#city{
  color: #a17f1a;
  
  text-decoration: none;
 font-weight: bold;
}
.about-me{
  color: #afd275;
  font-size: 1.25em;
}
#htmllogo{
  margin-bottom: 8px;
}
.image img{
  height: 10%;
  width: 10%;
  margin-left: 10px;
}
footer{
  color: white;
  text-align: center;
  margin: 80px auto 20px;
}
.subtitle{
  font-size: 1.5em;
  color: white;
}
.projects{
  height: 80px;
  border-radius: 8px;
  background-image:linear-gradient(rgba(249, 250, 246, 0.5),rgba(22, 32, 19, 0.8)), url(image/worldmap.jpg);
}
.projects li{
  list-style-type: none;
  padding-left: 20px;
  text-decoration: none;
}
.projects span{
  font-weight: lighter;
  color: white;
  font-size: 0.8em;
}
.projects a{
  padding-top: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  display: block;
  padding: 20px 20px;
  font-size: 1.5em;
  font-weight: bold;
  
}
.projects a:hover{
  color:rgba(46, 66, 13, 0.671);
}
.contact{
  /* background-image: url(image/3702528.jpg);
  background-size: 100% 100%; */
  
   width: 40%; 
  margin: auto; 
}
.contact form{
  max-width: 400px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact input,
.contact textarea{
  display: block;
  width: 70%;
  margin: 10px 40px;
  padding: 8px ;
  border-radius: 8px;
  border: 1px solid #a17f1a;
}
textarea{
  height: 80px;
}
.contact input[type=submit]{
  background: #a17f1a;
  color: white;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  width: 75%;
  border-radius: 8px;
}